---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

body {
   font-family: 'Playfair Display', serif;
    font-size: 1em;
}

a:hover {
    text-decoration: underline;
}

h1 {
    line-height: 1.25em;
}

small {
    font-size: .75em;
}

article {
    margin-top: 3em;
    margin-bottom:3em;
}

.intro-quote {
    padding: 25px;
    margin-bottom: 1em;
}

li {
    padding-bottom: 8px;
}

.oath {
    color: #000;
}

p.view {
    border: 1px solid blue;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 3px;
}

p.view:hover {
    background-color: gainsboro;
}

.beta-pill {
    font-size: .5em;
    color: darkslateblue;
    background-color: aquamarine;
    height: auto;
    padding: 3px 5px;
    border-radius: 4px;
    width: auto;
    position: relative;
    margin-left: 3px;
    line-height: 0;
}

